In [1]:
import numpy as np
import pandas as pd
import scipy.io

import matplotlib.pyplot as plt
import sys

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [37]:
df = pd.read_csv('../y_mag.csv')
df

,modeID,S RMS(nm),S MAX(nm),F/puck RMS(N),F/puck MAX(N),slope RMS (nm/100mm),slope MAX (nm/100mm)
0,1,500,1332,8,18,46,144
1,2,500,1302,36,96,62,176
2,3,500,1453,37,98,62,203
3,4,397,784,53,147,47,153
4,5,352,778,53,147,50,148
5,6,295,609,55,147,37,111
6,7,258,337,56,147,42,141
7,8,134,403,52,147,24,88
8,9,125,331,50,147,24,75
9,10,138,386,58,147,27,86

In [38]:
scale_f_s_rms = np.array(500/df['  S RMS(nm)']) #what it takes to scale surface rms to 500nm
scale_f_slope_max = np.array(300/df[' slope MAX (nm/100mm)']) #what it takes to scale slope max to 300nm/100mm
c = np.zeros((10,2))
c[:,0] = scale_f_s_rms
c[:,1] = scale_f_slope_max
cx = np.min(c, axis=1)
cx

array([1.        , 1.        , 1.        , 1.25944584, 1.42045455,
       1.69491525, 1.9379845 , 3.40909091, 4.        , 3.48837209])

In [39]:
for i in range(10):
    print(i+1, '%.1f'%(df['  S RMS(nm)'][i]*cx[i]))

1 500.0
2 500.0
3 500.0
4 500.0
5 500.0
6 500.0
7 500.0
8 456.8
9 500.0
10 481.4

In [40]:
df[' slope MAX (nm/100mm)']*cx

0    144.000000
1    176.000000
2    203.000000
3    192.695214
4    210.227273
5    188.135593
6    273.255814
7    300.000000
8    300.000000
9    300.000000
Name:  slope MAX (nm/100mm), dtype: float64

array([2.18978102, 1.72413793, 1.35746606, 2.29007634, 2.56410256,
       2.01342282, 2.22222222, 4.16666667, 3.65853659, 3.75      ])